body {
    margin: 0;
    overflow: hidden;
}

img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    
}

.container {
    width: 1024px;
    height: 430px;
    background-color: rgba(238, 187, 110, 0.856);
    margin: auto;
}

.header {
    color: white;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255, 0.884);
    padding: 30px;
}

#fname,
#email,
#phonenumber,
#billing,
#youraddress,
#city,
#state,
#zipcode,
#country {
    margin-bottom: 25px;
}
#billing{
     width: 80%;
}
#youraddress{
    width: 82%;
}
#placeorder,
#reset {
    padding: 7px;
    width: 20%;
}

#placeorder {
    background-color: rgba(190, 118, 24, 0.616);
    border: none;
}

#reset {
    background-color: rgb(85, 85, 95);
    border: none;
}

footer {
    margin-top: 40px;
    color: black;
    text-align: center;
}